button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    right: 0;
    position: relative;

}

#btnscroll {
    background-color: rgb(146, 148, 199);
    position: fixed;
    padding: 2rem;
    right: 20px;
    font-size: 3rem;
    font-weight: 500;
    border-radius: 10px;
    line-height: 10px;
    display: none;
    bottom: 20px;
}