#parent {
    position: relative;
    margin-top: 10rem;
    background-color: #fffcfc;
    padding: 2rem;
}

#listTextOne {
    color: blue;
    font-size: 1.8rem;
    font-weight: 600;
}

#aside h2 {
    letter-spacing: 1px;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}

#aside .p_one {
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
}

#aside .p_tow {
    text-align: center;
    word-break: break-all;
    font-size: 1.5rem;
    margin-bottom: 2rem;

}

#parentNav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0;
    flex-wrap: wrap;

}

#parentNav ul li {
    display: inline-block;
    padding: 1rem 0;
}

#parentNav ul li a {
    text-decoration: none;
    font-size: 1.9rem;
    padding: 0.5rem;
    transition: all 0.5s ease;
    border-radius: 10px;
    margin: 1em;
}

a.active,
a:hover {
    background-color: blue;
    color: #fff;
}


// ___________#detals________________________

#detals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}



.img img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #000000;
}

.parent-title {
    width: 80%;
}

.parent-title h4 {
    left: 1px;
    font-size: 3rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 4rem;
}

.parent-title .p-three,
cite {
    font-size: 1.8em;

}

#star {
    font-size: 1rem;
    margin-left: 1em;
    color: rgb(139, 139, 71);
}

// sectionTow----------------->
#textparent {
    text-align: center;
    margin: 2rem 0;

}

#textparent h4 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.6s ease;
    margin: 1rem 0;
    text-shadow: 0px 0px 1.2px #000;
    transition: all 0.5s ease;
}

#textparent h4:hover {
    transform: scale(1.3);
}

#textparent p {
    font-size: 3rem;
}

// sectionTow------------>
#sectionTow {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#detalsTow {
    padding: 1rem;
}

#sectionTow img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #000000;
}

.geordnetlistsection {
    width: 80%;
    font-size: 2rem;
    margin: auto;
}

#listTextOne{
    font-size: 2.5rem;
    padding-bottom: 3rem;
}
#geordnetlistsection p{
    line-height: 30px;
}

#geordent {
    font-size: 1.6rem;
    padding-right: 1em;
    color: blue;
}

// sectionThree------------->

#sectionThree {
    margin-top: 1rem;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#sectionThree {
    font-size: 1.8em;
}
#parentthree{
    width: 80%;
    margin: 0 auto;
}
#parentthree p{
    line-height: 30px;
}

// sectionfour----------->

#sectionfour {
    position: relative;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#sectionfour img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #000000;
}

#parentvier h4 {
    padding-top: 2rem;
    padding-left: 3rem;
}
#parentvier{
    width: 80%;
    margin: 0 auto;
}
#parentvier p {

    font-size: 1.8em;
    padding-left: 2rem;

}




// @media----------------------------->
@media(max-width:600px) {
    #parentNav ul {
        flex-direction: column;
    }

    #detals {
        display: flex;
        flex-direction: column;
    }

    #sectionTow {
        display: flex;
        flex-direction: column;
    }

    #sectionThree {
        display: flex;
        flex-direction: column;
    }

    #sectionfour {
        display: flex;
        flex-direction: column;
    }
}