@use "./colors/color.scss";


#sectionsonderangebot{
    margin: 6rem 0;
    width: 100%;
    box-sizing: border-box;
}

#blocksection{
    text-align: center;
    position: relative;
    padding-bottom: 10rem; 
}
#blocksection h3{
    color: color.$color-black;
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 2rem;
}

    
    #blocksection .textangebot{
        padding: 1rem 0;
        font-size: 2em;
        font-weight: 300;
    }

    // --------cardangeobt--------

    #cardangeobt{
        border: 1px solid color.$color-blue;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        height: 100%;
        width: 60%;
        margin: 0 auto;
       padding-bottom: 2rem;
       line-height: 30px;
       border-radius: 10px;
        #angeobtheader{
            word-break: break-all;
            padding: 2rem;
            font-size: 2.5rem;
            background-color: rgb(0, 81, 233);
            display: block;
            color: #fff;
            margin-bottom: 2rem;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }.angebotpar{
            font-size: 2rem;
            color:blue;
            letter-spacing: 1px;
        }span{
            color: red;
            font-size: 1.9em;
        }li{
            list-style-type: none;
            font-size: 1.9rem;
            padding: 0.5em 0;
            transition: all 0.5s ease-in;
        }
        li:hover{
            border-bottom: 1px solid #000;
            transform: translateY(-5px);
            background-color: #eee;
        }
    }

    @media(max-width:500px){
        #blocksection h3{
            font-size: 2rem;
        }
        #blocksection .textangebot{
            padding: 1rem 0;
            font-size: 1em;
        }
        #cardangeobt{
            border: 1px solid color.$color-blue;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            height: 100%;
            width: 100%;
            word-break: break-all;
            margin: 0 auto;
           padding-bottom: 2rem;
           line-height: 15px;
        }

        #cardangeobt #angeobtheader{
            word-break: break-all;
            padding: 1rem;
            font-size: 1rem;
            display: block;
         
        }#cardangeobt .angebotpar{
            font-size: 1rem;
        }#cardangeobt span{
            font-size: 1rem;
        }#cardangeobt li{ 
            font-size: 1rem;
        }
    }